<!doctype html>
<html>
<head>
    <title>El Cafe</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Hello Cashier</h1>
        <img src="img/cafe.jpg" alt="Coffee Logo">

        <section class = "choiceContainer">
          <div class="cafeOption1">
            <p> Black Cafe<p>
          </div>
          <div class="cafeOption2">
            <p> Cafe con leche</p>
          </div>
          <div class="cafeOption3">
            <p> Cafe con Leche y azucar</p>
          </div>
          <div class="cafeOption4">
            <p> Ice Cafe</p>
          </div>
        </section>

        <section class = "choiceSize">
          <div class="sizeOption1">
            <p> x-small<p>
          </div>
          <div class="sizeOption2">
            <p> Small</p>
          </div>
          <div class="sizeOption3">
            <p> Medium</p>
          </div>
          <div class="sizeOption4">
            <p> Large</p>
          </div>
        </section>
        <p>Made a mistake? Start over by clicking refresh</p>
        <div class="refreshOption">
          <p><a href="/cashier">Refresh</p></a>
        </div>
        <section>

        </section>

        <section>
          <input type="text" name="" placeholder="customers name">
          <div class="submitButton">
            <p id ="submit">Submit Order</p>
          </div>
        </section>

        <p>Or go <a href="/">home</a>.</p>
        <p>Or go <a href="/userchoice">back</a>.</p>


    </div>

</div>
<script src="main.js"></script>
</body>
</html>
