<!doctype html>
<html>
<head>
    <title>El Cafe</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Cashier or Barista?</h1>
        <img src="img/cafe.jpg" alt="Coffee Logo">

        <p>Pero like who are you</p>

        <a href="/barista" class="btn btn-default"><span class="fa fa-user"></span>Barista</a>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Cashier</a>

    </div>

</div>
</body>
</html>
